body {
    margin: 0;
    padding: 20px;
    font-family: Arial, sans-serif;
    color: #000;
    text-align: center;
    background-image: url('/fondoRedia.jpg'); /* usa '/fondoRedia.jpg' si la imagen está en src/main/resources/static */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}