<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <title>Anyadir Ciclo</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="ciclo.css" rel="stylesheet"/>
</head>
   
<body>
	<h1>Anyadir Ciclo</h1>
 
    <form th:action="@{/ciclo}" th:object="${ciclo}" th:method="post">
    	<p>ID: <input type="text" th:field="${ciclo.id}" /></p>
        <p>Duracion: <input type="text" th:field="${ciclo.duracion}" /></p>
        <p>Fecha Inicio: <input type="date" th:field="${ciclo.FechaInicio}" /></p>
        <p>Fecha Final: <input type="date" th:field="${ciclo.FechaFinal}" /></p>
        <p>Fase Actual: <input type="text" th:field="${ciclo.FaseActual}" /></p>
        <p>Estado Conexión: <input type="text" th:field="${ciclo.EstadoConexion}" /></p>
        <p>Síntomas: <input type="text" th:field="${ciclo.Sintomas}" /></p>
        <p>Observaciones: <input type="text" th:field="${ciclo.Observaciones}" /></p>
        <p><input class="boton" type="submit" value="Crear Ciclo" /> 
        <input  class="boton" type="reset" value="Reset" /></p>
    </form>
    <a th:href="@{/}">Atrás</a>
</body>
</html>