<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="Lista Ciclo" content="width=device-width" />
<title>Lista Ciclo</title>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	rel="stylesheet"></link>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="/configure.css">
	
</head>
<body>
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Ciclo</strong>
		</div>
		<div class="panel-body">
			<div class="table-responsive">
				<table
					class="table table-sm table-striped table-hover table-bordered">
					<thead>
						<tr>
                            <th>ID</th>
							<th>Duración</th>
							<th>Fecha Inicio</th>
							<th>Fecha Final</th>
							<th>Fase Actual</th>
							<th>Estado Conexión</th>
							<th>Síntomas</th>
							<th>Observaciones</th>
							<th>Operaciones</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ciclo : ${ciclos}">
							<td th:text="${ciclo.Id}"></td>
                            <td th:text="${ciclo.Duracion}"></td>
							<td th:text="${ciclo.FechaInicio}"></td>
                            <td th:text="${ciclo.FechaFinal}"></td>
                            <td th:text="${ciclo.FaseActual}"></td>
                            <td th:text="${ciclo.EstadoConexion}"></td>
                            <td th:text="${ciclo.Sintomas}"></td>
                            <td th:text="${ciclo.Observaciones}"></td>
							<td>
								<div class="btn-group">
									<form th:method="DELETE"
										th:action="@{/ciclo/{id}(id=${ciclo.Id})}">
										<input type="submit" class="delete btn btn-sm btn-danger"
											value="Eliminar" />
									</form>

									<form th:method="GET"
										th:action="@{/editCiclo/{id}(id=${ciclo.Id})}">
										<input type="submit" class="primary btn btn-sm btn-primary" 
											value="Editar" />
									</form>

								</div>
							</td>
						</tr>
					</tbody>
				</table>

			</div>
		</div>
		<div th:if="${delete != null && delete}" class="alert alert-success">
			<strong>OK </strong> El Ciclo ha sido eliminado correctamente.
		</div>
		<div th:if="${delete != null && !delete}" class="alert alert-danger">
			<strong>Error </strong> Error eliminado el Ciclo.
		</div>
		<div th:if="${update != null && update}" class="alert alert-success">
			<strong>OK </strong> El Ciclo ha sido actualizada correctamente.
		</div>
		<div th:if="${update != null && !update}" class="alert alert-danger">
			<strong>Error </strong> Error al actualizar el Ciclo.
		</div>
		<div th:if="${create != null && create}" class="alert alert-success">
			<strong>OK </strong> El Ciclo ha sido creado correctamente.
		</div>
		<div th:if="${create != null && !create}" class="alert alert-danger">
			<strong>Error </strong> Error al crear el Ciclo.
		</div>
		<div class="panel-footer">
			<a class="btn btn-sm btn-success" th:href="@{/addCiclo}">Nuevo Ciclo</a> 
            <a class="btn btn-sm btn-primary" th:href="@{/}">Atrás</a>
		</div>
	</div>
</body>
</html>