<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" /
<title>Editar Ciclo</title>
<link rel="stylesheet" href="/configure.css">
</head>
<body>
	    <h1>Editar Ciclo</h1>
			<form   th:object="${ciclo}"
				th:action="@{/ciclo}" th:method="put" style="margin: 10px">
        
				<p><label>ID</label> <input type="number"
									th:field="${ciclo.id}"
									autofocus="autofocus" readonly placeholder="ID"/></p>
		
				<p><label>Duracion</label> <input type="number"
									th:field="${ciclo.Duracion}"
									autofocus="autofocus" placeholder="Duracion"/> </p>
					
				<p><label>Fecha Inicio</label> <input type="date"
									th:field="${ciclo.FechaInicio}"
									autofocus="autofocus" placeholder="Fecha Inicio"  /></p>

				<p><label>Fecha Final</label> <input type="date"
									th:field="${ciclo.FechaFinal}"	
									autofocus="autofocus" placeholder="Fecha Final"  /></p>
				
				<p><label>Fase Actual </label> <input type="text"
									th:field="${ciclo.FaseActual}"
									autofocus="autofocus" placeholder="Fase Actual"  /></p>

				<p><label>Estado Conexion</label> <input type="text"
									th:field="${ciclo.EstadoConexion}"	
									autofocus="autofocus" placeholder="Estado Conexion"  /></p>

				<p><label>Sintomas</label> <input type="text"
									th:field="${ciclo.Sintomas}"
									autofocus="autofocus" placeholder="Sintomas"  /></p>

				<p><label>Observaciones</label> <input type="text"
									th:field="${ciclo.Observaciones}"
									autofocus="autofocus" placeholder="Observaciones"  /></p>
			
				<button type="submit" >Guardar</button>
					<a th:href="@{/listCiclo}" >Atras</a>
			</form>
</body>
</html>